<div class="home-wrapper">
  <nav class="sidebar">
    <ul>
      <li routerLink="/login" class="login-register" routerLinkActive="active">Login/Register</li>
      <li routerLink="/home/nfts" routerLinkActive="active">NFT’s</li>
      <li routerLink="/home/profile" routerLinkActive="active">Profile</li>
      <li routerLink="/home/my-nfts" routerLinkActive="active">My NFT’s</li>
      <li routerLink="/home/create-nft" routerLinkActive="active">Create nft</li>
    </ul>
  </nav>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
